.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #111;
  color: #fff;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text-box {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;  
}

.text-box h2 {
  font-size: 2.5vw; 
  color: #333;
}

.text-box p {
  font-size: 1.8vw; 
  color: #555;
  margin-top: 1.2vw; 
}

.text-box-widen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 1vw 2vw; 
  box-sizing: border-box;
  z-index: 10;
  flex-direction: row;
}

.text-box-widen h2 {
  margin: 0;
  flex-grow: 1; 
}

.text-box-widen .year-selector,
.text-box-widen .checkboxes {
  flex-grow: 1; 
  flex-basis: auto; 
  margin: 0 1vw; 
}

.table-container {
  margin-top: 20VH; 
  max-height: 80vh; 
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
}

.appdatahub {
  display: flex;
  flex-direction: column;
  background-image: url("../media/footballpitch.jpg");
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

option.green {
  background-color: rgb(30, 241, 30);
}

.home-img {
  border-radius: 50%;
  width: 10vw;
  height: auto;
  margin: 1vw; 
}

.header {
  text-align: center;
  margin-bottom: 2vw;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vw; 
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1vw; 
}

.main-button {
  padding: 1vw 2vw;
  margin: 0.5vw; 
  border: none;
  border-radius: 4px;
  font-size: 1.8vw;
  font-weight: bold;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.main-button:hover {
  background-color: #555;
}

.main-button:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .text-box h2 {
    font-size: 5vw; 
  }
  
  .text-box p {
    font-size: 3.6vw; 
  }

  .text-box-widen {
    flex-direction: column;
    align-items: stretch; 
  }

  .text-box-widen h2,
  .text-box-widen .year-selector,
  .text-box-widen .checkboxes {
    margin: 0.5vw 0; 
  }

  .text-box-widen h2,
  .text-box-widen .year-selector,
  .text-box-widen .checkboxes {
    font-size: 3vw;
  }

  .main-button {
    font-size: 4vw; 
    min-height: 75px;
  }
}
