.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #111;
}
.dashboard-title {
  font-size: 2rem; 
  margin-bottom: 20px; 
  color: white; 
}
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.chart-container {
  width: 45%; 
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f6f4f4;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.chart-title {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color:black;

}

.sort-label{
  color:black;
}
.full-screen-chart-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
  z-index: 999;
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.toggle-buttons {
  margin-top: 20px;
}

.toggle-buttons button {
  margin-right: 10px;
}
.model-accuracy-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  align-items: stretch; 
  margin-bottom: 20px;
}

.accuracy-card {
  width: calc(25% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #222;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  box-sizing: border-box;
  min-height: 120px; 
  overflow: hidden; 
}

.accuracy-card h3 {
  font-size: 0.9rem; 
  margin-bottom: 0.5rem; 
}

.accuracy-card p {
  font-size: 1rem; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}
.accuracy-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px); 
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

@media (max-width: 1200px) {
  .accuracy-card {
    width: calc(33.33% - 20px);
  }
}

@media (max-width: 900px) {
  .accuracy-card {
    width: calc(50% - 20px); 
  }
}

@media (max-width: 600px) {
  .chart-container {
    width: calc(100% - 20px); 
    min-height: 180px;
  }

  .accuracy-card {
    width: calc(50%-15px); 

    margin: 10px 0; 
    min-height: 160px; 
  }
}
