/* ResultsTable.css */

/* General styling */
.section-header {
  font-size: 2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 20px;
  position: relative;
  text-align: center;
  margin: 20px auto 40px;
  width: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(-50%);
}

.training-section .section-header,
.testing-section .section-header {
  background-color: rgba(39, 174, 96, 0.8); /* Green background */
}

/* Container for cards */
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 40px; 
}

/* Style for each match card */
.match-card {
  width: 95%; /* Adjusted width for smaller screens */
  max-width: 900px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 20px 0;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column; 
  padding:5px/* Adjusted to stack elements vertically */
}

.match-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Style for the dates */
.match-date {
  background-color: #fff;
  color: #333;
  font-weight: bold;
  border-radius: 15px;
  padding: 10px 20px;
  position: absolute;
  top: -25px; /* Position above the card */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
/* CSS for the horizontal line */
.horizontal-line {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0; /* Adjust margin as needed */
}

.team-container {
  display: flex;
  justify-content: space-between; /* Added to space teams evenly */
}

.team {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 5px 10px; /* Added margin to separate teams */
  flex: 1; /* Added to make teams take equal width */
  justify-content: center;
}


.team-logo {
  width: 40px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 5px; /* Add margin to separate from team names */
}
.team-name {
  margin-right: 10px;
  font-weight: bold;
}

.team-score {
  font-size: 1.5rem;
  color: #2ecc71;
  margin: 20px;
}

.match-details {
  flex-grow: 1;
  padding: 20px;
}

.prediction-results {
  flex-basis: 200px;
  border-left: 2px solid #eaeaea;
  padding: 20px;
}

.prediction-results-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  gap: 10px; /* Add some space between items */
}

.prediction-result {
  display: flex;
  align-items: center;
  white-space: wrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  margin-bottom: 5px;
}

.prediction-result:last-child {
  margin-bottom: 0;
}

.prediction-model {
  margin-right: 10px;
  font-weight: bold;
}

.correct-prediction {
  color: #27ae60; /* Green for correct */
}

.incorrect-prediction {
  color: #c0392b; /* Red for incorrect */
}

.prediction-icon {
  width: 16px; 
  height: 16px;
  margin-right: 10px;
}

.prediction-group {
  flex: 1; 
  padding: 0 10px;
  min-width: 150px; 
}

.prediction-group h4 {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.no-models {
  color: #999;
  font-style: italic;
}

.roBERTA-group .prediction-model,
.VADAR-group .prediction-model {
  color: #007bff;
}

.without-sentiment .prediction-model,
.sentiment .prediction-model {
  color: #007bff; 
}

.without-sentiment .prediction-model {
  color: #28a745; 
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* Custom styled checkboxes */

.checkbox-custom {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-custom:checked {
  background-color: #007bff;
}

.checkbox-custom:checked::after {
  content: '\2714';
  font-size: 14px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.data-type-icon {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 5%; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
}

/* Responsive design */
@media (max-width: 768px) {
  .data-type-icon {
    width: 8%; /* Adjust size for smaller screens */
    top: 3%;
    right: 3%;
  }
}
/* Responsive design */
@media (max-width: 768px) {
  .section-header {
    font-size: 1.5rem; /* Adjusted font size for smaller screens */
    padding: 8px 16px; /* Adjusted padding */
    border-radius: 15px; /* Adjusted border radius */
    margin: 15px auto 30px; /* Adjusted margin */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adjusted box shadow */
    transform: none; /* Reset transform */
  }
  .team-container{
    flex-wrap: wrap;
  }
  .match-card {
    width: 95%; /* Slightly narrower on smaller screens */
  }
}
