.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #111;
  color: #fff;
}

.home-img {
  border-radius: 50%;
  width: 100px; /* Adjust the width as desired */
  height: auto;
  margin: 10px; /* Add margin between the images */
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Add margin at the bottom */
}

.button-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of buttons */
  justify-content: center;
  margin-bottom: 10px; /* Add some margin at the bottom */
}

.main-button {
  padding: 1rem 2rem;
  margin: 0.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; /* Add text-decoration: none */
}

.main-button:hover {
  background-color: #555;
}

.main-button:focus {
  outline: none;
}



/* Existing styles... */
.App {
  text-align: center;
}

.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  float: left;
}

.navbar ul li:not(:last-child) {
  margin-right: 20px;
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar ul li a:hover {
  background-color: #ddd;
  color: black;
}

.dashboard {
  margin-top: 20px;
}

.content {
  margin: auto;
  width: 80%;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
}


.chart {
  width: 60%;
  height: 300px;
  margin: auto;
}

.table-container {
  margin: 20px auto;
  width: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
